
<div class="container"> 
  <link rel=StyleSheet href="design.css" type="text/css" >
  <form  action="/recibir" method="post">
    <h3>Data mining work 1</h3>
    <h4>Recollecting data</h4>
    <fieldset>
      <input placeholder="Your Age" type="text" tabindex="1" name="inputAge" id="inputAge" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Sex (F|M) " type="text" tabindex="2" name="inputSex" id="inputSex"  required>
    </fieldset>
    <fieldset>
      <input placeholder="Your BP {HIGH, NORMAL, LOW}:" type="text" tabindex="3" name="inputBp" id="inputBp" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Cholesterol {HIGH, NORMAL, LOW}:" type="text" tabindex="4"  name="inputCh" id="inputCh" required>
    </fieldset>
    <fieldset>
      <input placeholder="Type Na/k:" type="text"  tabindex="5" name="inputNak" id="inputNak"  required>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
</div>
