<html>
  <head>
       <LINK REL=StyleSheet HREF="design.css" TYPE="text/css" MEDIA=screen>
  </head>

<div class="container">  
  <form id="contact" action="" method="post">
    <h3>Data mining work 1</h3>
    <h4>Recollecting data</h4>
    <fieldset>
      <input placeholder="Your Age" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Sex (F|M) " type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your BP {HIGH, NORMAL, LOW}:" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Cholesterol {HIGH, NORMAL, LOW}:" type="url" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type Na/k:" tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
</div>

</html>